.home-product-images {
  display: block;
  padding-bottom: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.position-relative:hover .overlay {
  opacity: 1;
}
/* @media (max-width: 500px) {
  .myfoods {
    height: 200px;
    width: 150px;
  }

  .overlay {
    width: 150px;
  }
} */

/* @media(max-width: 800px ) {
  .aboutme {
    padding-bottom: 0;
  }
  .home-product-images{
    padding-top: 0;
    padding-bottom: 10px;
  }
  .myfoods {
    height: 150px;
    width: 100px;
    object-fit: cover;
  }
} */
