header {
  height: 95%;
}

.home-product-images {
  display: block;
  padding-bottom: 40px;
}

.firstImg {
  padding-left: 15%;
}

.headImage {
  height: 400px;
  width: 350px;
  border-radius: 5px;
  object-fit: cover;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

.foodContainer {
  height: 350px;
  object-fit: cover;
}

.myfoods {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.text-white {
  font-size: larger;
  font-weight: bold;
}

.position-relative:hover .overlay {
  opacity: 1;
}

.hidden {
  display: none;
}

.card-text {
  text-align: justify;
}


@media (max-width: 600px) {
  .headImage {
    height: 200px;
    width: 200px;
  }

  .myfoods {
    height: 200px;
  }

  .foodContainer {
    width: 175px;
    height: 200px;
    text-align: center;
  }
  
  .foodRow {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 1314px) {

 
.firstImg {
  padding-left: 2%;
}

  /* .myfoods {
    height: 200px;
    width: 150px;
  }

  .overlay {
    width: 150px;
  } */
}

